ul {
}

li{
  width: 100%;
  margin-left: 10px;
  list-style: none;
  font-size: 125%;
  text-align: left;
  color: black;
}

body {
    font-family: "Andale Mono", monospace;
    color: white;
    background-color: rgb(35, 52, 31);
    font-size: 100%;
  }

  h1 {
    font-family: "Andale Mono", monospace;
    color: white;
    text-align: left;
    font-size: 250%;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  h2 {
    font-family: "Andale Mono", monospace;
    color: rgb(126, 126, 126);
    font-size: 150%;
    text-align: left;
    width: 36%;
    margin-left: 3%;
    margin-top: .5%;
    margin-bottom: 0%;
  }
  h3 {
    font-family: "Chalkduster", fantasy;
    font-size: 125%;
    color: white;
    float: right;
    right: 24%;
    position: relative;
    
  }

  h4 {
    font-size: 35px;
    text-align: left;
    color: white;
  }

  .left {
    font-family: "Andale Mono", monospace;
    float: left;
    width: 50%;
  }

  p {
    font-family: "Andale Mono", monospace;
    font-size: 16px;
  }

  a:link, a:visited {
    color: rgb(255, 116, 116);
    text-decoration: none;
    
  }

  a:hover {
    opacity: 75%;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  .ankle {
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 100%;
    color: white;
    text-align: center;
    margin: 30px;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: 30px;
  }