ul {
}

li{
  width: 100%;
  margin-left: 10px;
  list-style: none;
  font-size: large;
  text-align: left;
  color: rgb(255, 116, 116);
  text-decoration: underline;
}

img {
  width: 100%;
}

body {
    font-family: "Andale Mono", monospace;
    color: white;
    background-color: rgb(35, 52, 31);
    font-size: 100%;
  }

  h1 {
    font-family: "Andale Mono", monospace;
    color: white;
    text-align: left;
    font-size: xx-large;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  h2 {
    font-family: "Andale Mono", monospace;
    color: rgb(126, 126, 126);
    font-size: large;
    text-align: left;
    width: 36%;
    margin-left: 3%;
    margin-top: .5%;
    margin-bottom: 0%;
  }
  h3 {
    font-family: "Chalkduster", fantasy;
    font-size: large;
    color: white;
    text-align: right;
    position: relative;
  }

  h4 {
    font-size: 35px;
    text-align: left;
    color: white;
  }

  .left {
    font-family: "Andale Mono", monospace;
    float: left;
    width: 50%;
  }

  p {
    font-family: "Andale Mono", monospace;
    font-size: 16px;
  }

  a:link, a:visited {
    color: rgb(255, 116, 116);
    text-decoration: none;
    
  }

  a:hover {
    opacity: 75%;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  .ankle {
    position: absolute;
    font-size: medium;
    right: 0;
    bottom: 52px;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer {
    position: fixed;
    right: 0;
    bottom: 0%;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .smIcons {
    width: 48px;
    height: 48px;
    padding: .1%
  }