.thumb {
  -moz-transition: opacity 1.25s ease-in-out;
  -webkit-transition: opacity 1.25s ease-in-out;
  -ms-transition: opacity 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  opacity: 1;
  overflow: hidden;
  position: relative;
}

.thumb:after {
    background-image: -moz-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: -webkit-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: -ms-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    pointer-events: none;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

.thumb > .image {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

.thumb > h2 {
    pointer-events: none;
    bottom: 1.875em;
    font-size: 0.8em;
    left: 2.1875em;
    margin: 0;
    position: absolute;
    z-index: 1;
  }

.thumb > p {
    display: none;
  }
